name: Deploy Blazor Client to Azure SWA

on:
  push:
    branches:
      - main  # or 'master' if that is your default branch

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These match your folder structure ######
          app_location: "Client" # Points to your Blazor Project
          api_location: "" # LEAVE EMPTY! We are using your external Flex Function, not a managed one.
          output_location: "wwwroot" # Where Blazor puts the final files
          ###### End of Repository/Build Configurations ######